* {		@include animation(0.5s);		}

body {
    font-family:    "Open Sans";
    font-size:      $font-size;
    line-height:    $line-height;
    color:          $text-color;
}

a {
    color:$link-color;
    text-decoration: none;
    @include border(1px,dotted,$link-color,bottom);
    
    &:hover, &:focus, &.active {
        color:$link-hover-color;
        text-decoration: none;
        @include border(1px,dotted,$link-hover-color,bottom);
    }
    
    &.cta {
    		
    	display:block;
    	text-align:center;
    	text-transform:uppercase;
    	font-weight:bold;
    	color:$link-color;
    	background:none;
    	
    	@include border-radius(3px);
    	@include border(3px, solid, $link-color, full);
    	@include padding(20px, top);
    	@include padding(20px, bottom);
    	
    	&:hover, &:focus {
    		background: $link-color;
    		color: $white;
    	}
    	
    }
    
    &.cta-inverse {
    		
    	display:block;
    	text-align:center;
    	text-transform:uppercase;
    	font-weight:bold;
    	color:$white;
    	background:$link-color;
    	
    	@include border-radius(3px);
    	@include border(3px, solid, $link-color, full);
    	@include border(3px, solid, darken($link-color,10%), bottom);
    	@include padding(20px, top);
    	@include padding(20px, bottom);
    	
    	&:hover, &:focus {
    		background: none;
    		color: $link-color;
    		
    		@include border(3px, solid, $link-color, full);
    	}
    	
    }
    
    &.no-border, &.fancybox-close {		border:none;	}

}

form {
	
	[type=text],[type=number],[type=password],[type=email],[type=tel], textarea {
		border:none;
		
		@include border(2px, solid, $text-color, bottom);
	}
	
	[type=submit],button {
		display:block;
		
		@include padding(10px,top);
		@include padding(10px,bottom);
		@include padding(30px,left);
		@include padding(60px,right);
		
		@extend a.cta-inverse;
	}
	
	label {		display:block;		}	
	
}

h1 {
	
	a {
		
		&:hover, &:focus {
			
			img {	opacity:0.3;	}
			
		}
		
	}
	
}

/*
        =========================================================
        ======  IT'S UP TO YOU (NEW YORK, NEW YORK)   ===========
        =========================================================
*/


header {


}


main {


}


footer {


}
