* {
    outline: none;
}

::-moz-selection {
    color: $white;
    background: $brand-primary;
}

::selection {
    color: $white;
    background: $brand-primary;
}

body {
    font-family:    $font-family;
    font-size:      $font-size;
    line-height:    $line-height;
    color:          $text-color;
}

a {
    color:$link-color;
    text-decoration: none;

    @include animation(0.5s);
    @include border(1px,dotted,$link-color,bottom);

    &:hover, &:focus, &.active {
        color:$link-hover-color;
        text-decoration: none;
        outline:none;

        @include border(1px,dotted,$link-hover-color, bottom);
    }

    &.cta {

    	/*display:block;*/
        float:left;
    	text-align:center;
    	text-transform:uppercase;
    	font-weight:bold;
    	color:$link-color;
    	background:none;

    	@include border-radius(3px);
    	@include border(3px, solid, $link-color, full);
    	@include padding(20px, top);
    	@include padding(20px, bottom);
        @include padding(40px, left);
    	@include padding(40px, right);
        
    	&:hover, &:focus {
    		background: $link-color;
    		color: $white;

            @include border(3px, solid, $link-hover-color, bottom);
    	}

    }

    &.cta-inverse {
    	/*display:block;*/
        float:left;
    	text-align:center;
    	text-align:center;
    	text-transform:uppercase;
    	font-weight:bold;
    	color:$white;
    	background:$link-color;

    	@include border-radius(3px);
    	@include border(3px, solid, $link-color, full);
    	@include border(3px, solid, $link-hover-color, bottom);
    	@include padding(20px, top);
    	@include padding(20px, bottom);

    	&:hover, &:focus {
    		background: none;
    		color: $link-color;

    		@include border(3px, solid, $link-color, full);
    	}

    }

    &.cta-secondary {
        @extend a.cta;

        color:$link-color-secondary;
        @include border(3px, solid, $link-color-secondary, full);

        &:hover, &:focus {
            background: $link-color-secondary;
            color: $white;

            @include border(3px, solid, $link-hover-color-secondary, bottom);
        }

    }

    &.cta-secondary-inverse {
        @extend a.cta-inverse;

        background:$link-color-secondary;
        @include border(3px, solid, $link-color-secondary, full);
        @include border(3px, solid, $link-hover-color-secondary, bottom);

        &:hover, &:focus {
            color:$link-color-secondary;

            @include border(3px, solid, $link-color-secondary, full);
        }

    }
    
    &.cta-tertiary {
        @extend a.cta;
        
        color:$brand-tertiary;
        @include border(3px, solid, $brand-tertiary, full);

        &:hover, &:focus {
            background: $brand-tertiary;
            color:$link-color;

            @include border(3px, solid, $brand-tertiary, full);
        }
        
    }
    
    &.cta-teriary-inverse {
        
    }
    
    &.cta-small {
        @extend a.cta;
        
        @include padding(10px, top);
    	@include padding(10px, bottom);
        @include padding(20px, left);
    	@include padding(20px, right);
        
    }

    &.gallery-item {
        display: block;
        max-width:100%;
        position:relative;

        .caption {
            background: $brand-primary-opacity;
            height: 100%;
            width: 100%;
            opacity: 0;
            position: absolute;

            .caption-content {
                color: $white;
                font-size: 20px;
                height: 20px;
                margin-top: -12px;
                position: absolute;
                text-align: center;
                top: 50%;
                width: 100%;
            }
        }

        &:hover, &:focus {

            .caption {      opacity:1;      }

        }

    }
    
    &.active {  font-weight: bold;  }

    &.no-border, &.fancybox-close, &.gallery-item {		border:none;	}

}

form {

	[type=text],[type=number],[type=password],[type=email],[type=tel], textarea, select {
		width:100%;
        border:none;
        background: none;

		@include border(2px, solid, $text-color, bottom);
	}

	[type=submit],button {
        @include animation(0.5s);
		display:block;

		@include padding(10px,top);
		@include padding(10px,bottom);
		@include padding(30px,left);
		@include padding(60px,right);
        @extend a.cta-inverse;
        
        &.small {
            
          @include padding(5px,top);
		  @include padding(5px,bottom);
		  @include padding(10px,left);
		  @include padding(20px,right);
        }
        
	}

	label {		display:block;		}
    
    &.inverse {
        
        [type=text],[type=number],[type=password],[type=email],[type=tel], textarea {
            width:100%;
            border:none;
            background: none;

		    @include border(2px, solid, $brand-tertiary, bottom);
        }
        
        [type=submit],button {
            display:block;

            @include padding(10px,top);
            @include padding(10px,bottom);
            @include padding(30px,left);
            @include padding(60px,right);
            @extend a.cta-tertiary; 
            
            &.small {
                @include padding(5px,top);
		        @include padding(5px,bottom);
		        @include padding(10px,left);
                @include padding(20px,right);
            }
	    }
        
    }

}

h1 {
    @include animation(0.5s);

	a {
       @include animation(0.5s);
        
		&:hover, &:focus {

			img {	opacity:0.3;	}

		}

	}

}

h1,h2,h3,h4,h5,h6 {     font-family: $font-family-secondary;        }


/*
        =========================================================
        ======  IT'S UP TO YOU (NEW YORK, NEW YORK)   ===========
        =========================================================
*/

header {

}


main {
    
    #background-header      {            background:url(../images/header_back_1.jpg) center center no-repeat;    }
    #background-newsletter  {            background:url(../images/header_back_2.jpg) center center no-repeat;    }

}


footer {


}
