/*
        ==========================
        ======  VARIABLES  =======
        ==========================
*/

$opacity: 0.7;

$brand-primary:     rgba(150,148,135,1);
$brand-secondary:   rgba(114,155,213,1);
$brand-tertiary:    rgba(78,69,86,1);

$brand-primary-opacity: rgba(150,148,135,$opacity);
$white-opacity:		rgba(255,255,255,$opacity);

$lightest-grey:     rgba(233,233,233,1);
$light-grey:        rgba(211,211,211,1);
$grey:              rgba(186,186,186,1);
$darker-grey:       rgba(93,93,93,1);
$dark-grey:         rgba(45,45,45,1);
$black:             rgba(0,0,0,1);
$white:             rgba(255,255,255,1);

$text-color:        rgba(1,22,75,1);

$font-family:        		"Ubuntu",sans-serif;
$font-family-secondary:     "Fauna One", serif;
$font-size:         16px;
$line-height:       2em;

$link-color:        $brand-primary;
$link-hover-color:  lighten($brand-primary,20%);

$link-color-primary:	$brand-primary;
$link-hover-color-primary:	darken($brand-primary,20%);

$link-color-secondary: $brand-secondary;
$link-hover-color-secondary:  darken($brand-secondary,20%);

$link-color-tertiary: $brand-tertiary;
$link-hover-color-tertiary:  darken($brand-tertiary,20%);
